<div>
  <h1 style="text-align: center;">Welcome to tblBK Test from Rajesh</h1>
</div>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">
  
    <ng-container matColumnDef="bKDate">
      <th mat-header-cell *matHeaderCellDef> Date </th>
      <td mat-cell *matCellDef="let element"> {{element.bkDate}} </td>
    </ng-container>
    <ng-container matColumnDef="bKPaidToFrom">
      <th mat-header-cell *matHeaderCellDef> Paid To/From </th>
      <td mat-cell *matCellDef="let element"> {{element.bkPaidToFrom}} </td>
    </ng-container>
    <ng-container matColumnDef="check">
      <th mat-header-cell *matHeaderCellDef> check </th>
      <td mat-cell *matCellDef="let element"> 
        <mat-checkbox></mat-checkbox>
      </td>
    </ng-container>
    <ng-container matColumnDef="bKAccNo">
      <th mat-header-cell *matHeaderCellDef> Acc </th>
      <td mat-cell *matCellDef="let element"> {{element.bkAccNo}} </td>
    </ng-container>
    <ng-container matColumnDef="bkPaymentMethodId">
      <th mat-header-cell *matHeaderCellDef> Pay </th>
      <td mat-cell *matCellDef="let element"> {{element.bkPaymentMethodId}} </td>
    </ng-container>
    
    <ng-container matColumnDef="bkCategory">
      <th mat-header-cell *matHeaderCellDef> Category </th>
      <td mat-cell *matCellDef="let element"> {{element.bkCategory}} </td>
    </ng-container>
    <ng-container matColumnDef="bkFilename">
      <th mat-header-cell *matHeaderCellDef> File Name </th>
      <td mat-cell *matCellDef="let element"> {{element.bkFilename}} </td>
    </ng-container>
    <ng-container matColumnDef="bkNotes">
      <th mat-header-cell *matHeaderCellDef> Notes </th>
      <td mat-cell *matCellDef="let element"> {{element.bkNotes}} </td>
    </ng-container>
    <ng-container matColumnDef="bkgbp">
      <th mat-header-cell *matHeaderCellDef> GBP </th>
      <td mat-cell *matCellDef="let element"> {{element.bkgbp}} </td>
    </ng-container>
    <ng-container matColumnDef="bkeur">
      <th mat-header-cell *matHeaderCellDef> EUR </th>
      <td mat-cell *matCellDef="let element"> {{element.bkeur}} </td>
    </ng-container>

    <ng-container matColumnDef="bkusd">
      <th mat-header-cell *matHeaderCellDef> USD </th>
      <td mat-cell *matCellDef="let element"> {{element.bkusd}} </td>
    </ng-container>
    <ng-container matColumnDef="bkvat">
      <th mat-header-cell *matHeaderCellDef> VAT </th>
      <td mat-cell *matCellDef="let element"> {{element.bkvat}} </td>
    </ng-container>
    <ng-container matColumnDef="bkFees">
      <th mat-header-cell *matHeaderCellDef> Fees </th>
      <td mat-cell *matCellDef="let element"> {{element.bkFees}} </td>
    </ng-container>
    <ng-container matColumnDef="bkInvoiceDate">
      <th mat-header-cell *matHeaderCellDef> Inv Date </th>
      <td mat-cell *matCellDef="let element"> {{element.bkInvoiceDate}} </td>
    </ng-container>

    <ng-container matColumnDef="bkRecChk">
      <th mat-header-cell *matHeaderCellDef> Rec </th>
      <td mat-cell *matCellDef="let element"> 
        <mat-checkbox></mat-checkbox>  
      </td>
    </ng-container>
    <ng-container matColumnDef="bkLastRec">
      <th mat-header-cell *matHeaderCellDef> Last Rec </th>
      <td mat-cell *matCellDef="let element"> {{element.bkLastRec}} </td>
    </ng-container>
    <ng-container matColumnDef="bkRecDate">
      <th mat-header-cell *matHeaderCellDef> Rec Date </th>
      <td mat-cell *matCellDef="let element"> {{element.bkRecDate}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let element"> 
        <button mat-icon-button>
          Edit        
        </button>
        <button mat-icon-button>
          Delete

        </button>
      </td>
    </ng-container>
    <!-- <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let row;">
        <button mat-icon-button>
          Edit        
        </button>
        <button mat-icon-button>
          Delete

        </button>
      </mat-cell>
    </ng-container> -->
    
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>